[Unit]
Description=DeskPi_Power_Button_Service
Conflicts=reboot.target
Before=halt.target shutdown.target poweroff.target
DefaultDependencies=no
[Service]
Type=oneshot
ExecStart=/bin/sh -c ". /etc/profile; exec /usr/bin/python /storage/.kodi/addons/script.deskpifanservice/resources/os/libreelec/lib/powerbutton.py"
RemainAfterExit=yes
TimeoutSec=1
[Install]
WantedBy=halt.target shutdown.target poweroff.target